In [1]:
import pandas as pd

In [36]:
df = pd.DataFrame({'my_dates':['2015-01-01 00:00:00','2015-01-02 00:01:00','2015-01-03 00:02:00'],'myvals':[1,2,3]})

In [37]:
df

              my_dates  myvals
0  2015-01-01 00:00:00       1
1  2015-01-02 00:01:00       2
2  2015-01-03 00:02:00       3

In [31]:
print df.dtypes

my_dates    object
myvals       int64
hour_1      object
dtype: object

In [38]:
df['hour_1'] = pd.DatetimeIndex(df['my_dates']).strftime("%H")
df

              my_dates  myvals hour_1
0  2015-01-01 00:00:00       1     00
1  2015-01-02 00:01:00       2     00
2  2015-01-03 00:02:00       3     00

In [29]:
pd.get_dummies(df['hour_1'], prefix = 'hour_dummy')

   hour_dummy_00
0            1.0
1            1.0
2            1.0

In [42]:
train_df = pd.read_csv('../data/train.csv')

In [56]:
def transform(X):
    """Split the datetime into its component parts."""
    # Change the index to datetime
    X.set_index(pd.DatetimeIndex(X['datetime']), inplace=True)
    # Create new day and time related features
    X['date'] = pd.DatetimeIndex(X['datetime']).strftime("%Y%m%d")
    X['day'] = pd.DatetimeIndex(X['datetime']).strftime("%j")
    X['month1'] = pd.DatetimeIndex(X['datetime']).strftime("%m")
    # X['month2'] = pd.DatetimeIndex(X['datetime']).strftime("%B")
    X['year'] = pd.DatetimeIndex(X['datetime']).strftime("%Y")
    X['hour'] = pd.DatetimeIndex(X['datetime']).strftime("%H")
    X['dow1'] = pd.DatetimeIndex(X['datetime']).strftime("%w")
    # X['dow2'] = pd.DatetimeIndex(X['datetime']).strftime("%A")
    X['woy'] = pd.DatetimeIndex(X['datetime']).strftime("%W")
    X['hour_1'] = pd.DatetimeIndex(X['datetime']).strftime("%W")
    dummy_hours = pd.get_dummies(X['hour'], prefix = "hour_dummy")
    X = pd.concat([X, dummy_hours], axis=1)
    return X

In [57]:
transform(train_df.head())

C:\Users\mullar\AppData\Local\Continuum\Anaconda2\lib\site-packages\ipykernel\__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\mullar\AppData\Local\Continuum\Anaconda2\lib\site-packages\ipykernel\__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\mullar\AppData\Local\Continuum\Anaconda2\lib\site-packages\ipykernel\__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\mullar\AppData\Local\Continuum\Anaconda2\lib\site-packages\ipykernel\__main__.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\mullar\AppData\Local\Continuum\Anaconda2\lib\site-packages\ipykernel\__main__.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\mullar\AppData\Local\Continuum\Anaconda2\lib\site-packages\ipykernel\__main__.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\mullar\AppData\Local\Continuum\Anaconda2\lib\site-packages\ipykernel\__main__.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\mullar\AppData\Local\Continuum\Anaconda2\lib\site-packages\ipykernel\__main__.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,...,year,hour,dow1,woy,hour_1,hour_dummy_00,hour_dummy_01,hour_dummy_02,hour_dummy_03,hour_dummy_04
2011-01-01 00:00:00,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,...,2011,00,6,00,00,1.0,0.0,0.0,0.0,0.0
2011-01-01 01:00:00,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,...,2011,01,6,00,00,0.0,1.0,0.0,0.0,0.0
2011-01-01 02:00:00,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,...,2011,02,6,00,00,0.0,0.0,1.0,0.0,0.0
2011-01-01 03:00:00,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,...,2011,03,6,00,00,0.0,0.0,0.0,1.0,0.0
2011-01-01 04:00:00,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,...,2011,04,6,00,00,0.0,0.0,0.0,0.0,1.0